.toggleButton {
    cursor: pointer;
}

div.toggleBox {
    margin-bottom: 1em;

    div.toggleElement {
        margin-left: 3em;
        display: grid;
        grid-template-rows: 1fr;
        transition: grid-template-rows 0.3s ease-in-out;

        div {
            overflow: hidden;
        }
    }

    &.inactive div.toggleElement {
        grid-template-rows: 0fr;
    }
}

table.nameAliasTable {

    margin-bottom: 1em;

    th {
        padding: 0 1em;
    }

    td:not(.del) {
        padding: 0;
        width: 15em;

        input {
            width: 90%;
            margin: 0 5%;
        }
    }

    td.del {
        padding: 0;

        button {
            margin: 0.25em;
        }

        button:hover svg {
            stroke: rgb(255, 102, 102);
        }
    }
}

div.configCard {
    position: relative;

    /* 固定ボタン */
    button.pin {
        position: absolute;
        top: 1em;
        right: 1em;

        svg {
            position: relative;
            top: 1.5px;
        }
    }

    /* 固定中 */
    &.pinned {
        position: fixed;
        bottom: 2vh;
        right: 2vw;
        min-width: 40vw;
        max-width: 96vw;
        height: 30vh;
        overflow-y: scroll;
    }
}