#root {
    width: 90vw;
    padding: 1rem;
    margin: 0 auto;

    h1 {
        margin-left: 1em;
    }

    h2 {
        margin-left: 1em;
    }
}

.card {
    background-color: #242424;
    border: 2px solid #646cff;
    padding: 1em;
    border-radius: 1em;
    margin: 0 auto 2em auto;
}

@media (prefers-color-scheme: light) {
    .card {
        background-color: #ffffff;
    }
}