#root {
    width: 100%;
    padding: 1rem;

    h1 {
        margin-left: 1em;
    }

    h2 {
        margin-left: 1em;
    }
}

div.card {
    border: 2px solid #646cff;
    padding: 1em;
    border-radius: 1em;
    margin: 0 auto 2em auto;
}