footer.footer {
    height: 4em;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        width: 100%;
        margin: 0 2em;
    }
}