.p-multiselect {
    position: relative;
    background-color: var(--gray-1);
    border: 1px solid var(--gray-6);
    border-radius: var(--radius-2);
    padding: 0 0.5em;
}

.p-multiselect-label-container {
    display: flex;
    text-align: center;
    align-items: center;
}

.p-multiselect-panel {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-6);
    border-radius: var(--radius-2);
    min-width: none;
    padding: 0.5em;
}

.p-multiselect-item,
.p-multiselect-select-all {
    display: flex;
    height: 1.5em;
    border-radius: var(--radius-2);
    padding: 1em 0.5em;

    &:hover {
        background-color: var(--accent-9);
    }
}

.p-multiselect-checkbox,
.p-multiselect-select-all {
    .p-checkbox-input {
        display: none;
    }

    .p-checkbox-box {
        width: 1em;
    }
}

.p-multiselect-close {
    display: none;
}