table {
    border-collapse: collapse;

    th,
    td {
        border: 1px solid white;
        padding-left: 1em;
        padding-right: 1em;
    }

    th {
        text-align: center;
    }

    td:not(:first-child) {
        text-align: right;
        padding-right: 2em;
    }

    tr.separate {
        border-top: 2px solid white;
    }

    tr:hover {
        background-color: #ca059263;
    }
}