.statsTable {
    overflow-x: auto;
    max-width: 100%;

    td:not(:first-child) {
        padding-right: 2em;
    }

    tr.indent1 th {
        padding-left: 2em;
    }

    th.value_title,
    td.value_title {
        white-space: nowrap;
    }

    tr:hover {
        background-color: var(--accent-7);
    }
}

select.skillSelect {
    margin-bottom: 1em;
}