div.statsTable {
    overflow-x: auto;
    max-width: 100%;

    td:not(:first-child) {
        text-align: right;
        padding-right: 2em;
    }

    tr.indent1 td:first-child {
        padding-left: 2em;
    }
}

@keyframes card_fade {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card {
    animation: card_fade 0.5s ease-in forwards;
}