div.statsTable {
    overflow-x: auto;
    max-width: 100%;

    td:not(:first-child) {
        text-align: right;
        padding-right: 2em;
    }

    tr.indent1 td:first-child {
        padding-left: 2em;
    }

    th.value_title,
    td.value_title {
        white-space: nowrap;
    }
}

@keyframes card_fade {
    0% {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    25% {
        opacity: 1;
        overflow: hidden;
    }

    100% {
        max-height: 500vh;
        opacity: 1;
        overflow: visible;
    }
}

.stats_card {
    animation: card_fade 1.5s ease-in forwards;
}

select.skillSelect {
    margin-bottom: 1em;
}