div.upload_area {
    animation: simpleFade 0.25s ease-out;

    /* Position */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Background */
    background-color: #000000bf;

    /* Inner box */
    div {
        /* Centering */
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        /* Transition */
        transition:
            background-color 0.2s,
            border-color 0.2s,
            color 0.2s;

        /* Color */
        border: 5px dotted rgb(194, 0, 194);
        color: white;
        font-size: 2em;

        /* Position, Spacing */
        position: absolute;
        top: 1em;
        bottom: 1em;
        left: 1em;
        right: 1em;
    }
}

@keyframes simpleFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}